<div>
  <div class="cart-title">Cart:</div>
  <div *ngIf="cartService.totalQuantity > 0; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="cart-title">Cart Total Quantity: {{cartService.totalQuantity}}</div>
    <div class="cart-title">Cart Total Cost: {{cartService.totalCost}}</div>

    <app-cart-item *ngFor="let item of cartService.getCartItems(); trackBy: trackByItems" [item]="item" (itemDeleted)="onItemDelete($event)"></app-cart-item>

  </ng-template>
  <ng-template #elseBlock>
    <span class="cart-title">The cart is empty.</span>
  </ng-template>
</div>
